{
  "openapi": "3.1.0",
  "info": {
    "title": "Palimpsest Public Readings API",
    "version": "1.0.0",
    "description": "Stable public JSON readings from the Palimpsest censorship observatory and verifiable AI evaluation registry. Every reading carries its own freshness and scope. Missing evidence is not evidence of calm."
  },
  "servers": [{"url": "https://palimpsest.info"}],
  "externalDocs": {
    "description": "MCP and API quickstart",
    "url": "https://palimpsest.info/developers.html"
  },
  "components": {
    "schemas": {
      "Reading": {
        "type": "object",
        "description": "A published reading whose exact fields depend on the named instrument.",
        "additionalProperties": true
      },
      "DataCatalog": {
        "type": "object",
        "description": "The Evidence Atlas catalog with provenance, rights, cadence, freshness and distribution metadata.",
        "required": ["schema", "generated_at", "summary", "datasets"],
        "additionalProperties": true
      },
      "NewsroomDenominator": {
        "type": "object",
        "required": ["label", "value"],
        "properties": {
          "label": {"type": ["string", "null"], "maxLength": 1000},
          "value": {"type": ["integer", "null"], "minimum": 0, "maximum": 9007199254740991}
        },
        "additionalProperties": false
      },
      "NewsroomMetric": {
        "type": "object",
        "required": ["label", "value", "unit", "denominator"],
        "properties": {
          "label": {"type": ["string", "null"], "maxLength": 1000},
          "value": {"type": ["number", "null"], "minimum": -9007199254740991, "maximum": 9007199254740991},
          "unit": {"type": ["string", "null"], "maxLength": 1000},
          "denominator": {"$ref": "#/components/schemas/NewsroomDenominator"}
        },
        "additionalProperties": false
      },
      "NewsroomClaim": {
        "type": "object",
        "required": ["type", "statement"],
        "properties": {
          "type": {"type": "string", "enum": ["finding", "observation", "method", "integrity", "availability"]},
          "statement": {"type": "string", "minLength": 1, "maxLength": 1000}
        },
        "additionalProperties": false
      },
      "NewsroomEvidenceInput": {
        "type": "object",
        "required": ["filename", "sha256", "bytes"],
        "properties": {
          "filename": {"type": "string", "minLength": 6, "maxLength": 128, "pattern": "^[a-z0-9][a-z0-9.-]{0,126}\\.json$"},
          "sha256": {"type": ["string", "null"], "pattern": "^[0-9a-f]{64}$"},
          "bytes": {"type": ["integer", "null"], "minimum": 0, "maximum": 9007199254740991}
        },
        "additionalProperties": false
      },
      "NewsroomEvidence": {
        "type": "object",
        "required": ["url", "input", "source_timestamp"],
        "properties": {
          "url": {"type": "string", "format": "uri", "pattern": "^https://palimpsest\\.info/readings/[a-z0-9][a-z0-9.-]{0,126}\\.json$"},
          "input": {"$ref": "#/components/schemas/NewsroomEvidenceInput"},
          "source_timestamp": {"type": ["string", "null"], "format": "date-time"}
        },
        "additionalProperties": false
      },
      "NewsroomMethod": {
        "type": "object",
        "required": ["summary", "version"],
        "properties": {
          "summary": {"type": "string", "minLength": 1},
          "version": {
            "oneOf": [
              {"type": "integer", "minimum": 1},
              {"type": "string", "minLength": 1},
              {"type": "null"}
            ]
          }
        },
        "additionalProperties": false
      },
      "NewsroomSection": {
        "type": "object",
        "required": ["id", "title", "dek", "order"],
        "properties": {
          "id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"},
          "title": {"type": "string", "minLength": 1},
          "dek": {"type": "string", "minLength": 1},
          "order": {"type": "integer", "minimum": 1, "maximum": 512}
        },
        "additionalProperties": false
      },
      "NewsroomCoverageCounts": {
        "type": "object",
        "required": ["live", "degraded", "stale", "missing", "corrupt"],
        "properties": {
          "live": {"type": "integer", "minimum": 0, "maximum": 9007199254740991},
          "degraded": {"type": "integer", "minimum": 0, "maximum": 9007199254740991},
          "stale": {"type": "integer", "minimum": 0, "maximum": 9007199254740991},
          "missing": {"type": "integer", "minimum": 0, "maximum": 9007199254740991},
          "corrupt": {"type": "integer", "minimum": 0, "maximum": 9007199254740991}
        },
        "additionalProperties": false
      },
      "NewsroomCoverage": {
        "type": "object",
        "required": ["total", "reporting", "live", "status", "counts"],
        "properties": {
          "total": {"type": "integer", "minimum": 0, "maximum": 9007199254740991},
          "reporting": {"type": "integer", "minimum": 0, "maximum": 9007199254740991},
          "live": {"type": "integer", "minimum": 0, "maximum": 9007199254740991},
          "status": {"type": "string", "enum": ["healthy", "degraded"]},
          "counts": {"$ref": "#/components/schemas/NewsroomCoverageCounts"}
        },
        "additionalProperties": false
      },
      "NewsroomStory": {
        "type": "object",
        "required": ["id", "slug", "url", "signal_id", "headline", "dek", "section", "order", "type", "priority", "status", "published_at", "modified_at", "claim_fingerprint", "metric", "claims", "evidence", "method", "limitations", "related_signal_ids"],
        "properties": {
          "id": {"type": "string", "pattern": "^palimpsest-news:[a-z][a-z0-9-]{0,63}$"},
          "slug": {"type": "string", "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"},
          "url": {"type": "string", "format": "uri", "pattern": "^https://palimpsest\\.info/news/[a-z0-9]+(?:-[a-z0-9]+)*/$"},
          "signal_id": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"},
          "headline": {"type": "string", "minLength": 1},
          "dek": {"type": "string", "minLength": 1},
          "section": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"},
          "order": {"type": "integer", "minimum": 1, "maximum": 512},
          "type": {"type": "string", "enum": ["analysis", "measurement", "methodology", "integrity", "intelligence"]},
          "priority": {"type": "string", "enum": ["lead", "high", "standard", "background"]},
          "status": {"type": "string", "enum": ["live", "degraded", "stale", "missing", "corrupt"]},
          "published_at": {"type": "string", "format": "date-time"},
          "modified_at": {"type": "string", "format": "date-time"},
          "claim_fingerprint": {"type": "string", "pattern": "^sha256:[0-9a-f]{64}$"},
          "metric": {"$ref": "#/components/schemas/NewsroomMetric"},
          "claims": {"type": "array", "minItems": 1, "maxItems": 1, "items": {"$ref": "#/components/schemas/NewsroomClaim"}},
          "evidence": {"$ref": "#/components/schemas/NewsroomEvidence"},
          "method": {"$ref": "#/components/schemas/NewsroomMethod"},
          "limitations": {"type": "array", "minItems": 1, "maxItems": 9, "uniqueItems": true, "items": {"type": "string", "minLength": 1, "maxLength": 1000}},
          "related_signal_ids": {"type": "array", "maxItems": 12, "uniqueItems": true, "items": {"type": "string", "pattern": "^[a-z][a-z0-9-]{0,63}$"}}
        },
        "additionalProperties": false
      },
      "NewsroomFeed": {
        "type": "object",
        "description": "Strict deterministic newsroom edition projected from the normalized OSINT China board. Every story carries an evidence URL, input digest, method and limitations.",
        "required": ["schema_version", "feed_id", "title", "headline", "url", "generated_at", "n_stories", "source", "source_commit", "method", "scope", "coverage", "sections", "stories"],
        "properties": {
          "schema_version": {"type": "string", "const": "palimpsest-news.v1"},
          "feed_id": {"type": "string", "const": "palimpsest-china-newsroom"},
          "title": {"type": "string", "minLength": 1},
          "headline": {"type": "string", "minLength": 1, "maxLength": 1000},
          "url": {"type": "string", "const": "https://palimpsest.info/news/"},
          "generated_at": {"type": "string", "format": "date-time"},
          "n_stories": {"type": "integer", "minimum": 0, "maximum": 9007199254740991},
          "source": {"type": "string", "const": "https://palimpsest.info/readings/osint-china-latest.json"},
          "source_commit": {"type": "string", "pattern": "^[0-9a-f]{40}$"},
          "method": {"type": "string", "minLength": 1},
          "scope": {"type": "string", "minLength": 1},
          "coverage": {"$ref": "#/components/schemas/NewsroomCoverage"},
          "sections": {"type": "array", "minItems": 1, "maxItems": 32, "uniqueItems": true, "items": {"$ref": "#/components/schemas/NewsroomSection"}},
          "stories": {"type": "array", "minItems": 1, "maxItems": 512, "uniqueItems": true, "items": {"$ref": "#/components/schemas/NewsroomStory"}}
        },
        "additionalProperties": false
      }
    },
    "responses": {
      "Reading": {
        "description": "Published JSON reading",
        "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Reading"}}}
      },
      "DataCatalog": {
        "description": "Published machine-readable dataset catalog",
        "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataCatalog"}}}
      },
      "NewsroomFeed": {
        "description": "Published structured newsroom edition",
        "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NewsroomFeed"}}}
      }
    }
  },
  "paths": {
    "/readings/catalog.json": {"get": {
      "operationId": "getEvidenceAtlasCatalog",
      "summary": "Discover every documented dataset, its provenance, freshness, rights and files",
      "responses": {"200": {"$ref": "#/components/responses/DataCatalog"}}
    }},
    "/readings/catalog.jsonld": {"get": {
      "operationId": "getEvidenceAtlasJsonLd",
      "summary": "Discover available datasets as schema.org/DCAT JSON-LD",
      "responses": {"200": {"description": "JSON-LD data catalog", "content": {"application/ld+json": {"schema": {"type": "object", "additionalProperties": true}}}}}
    }},
    "/readings/newsroom-latest.json": {"get": {
      "operationId": "getNewsroomFeed",
      "summary": "Read the latest deterministic, evidence-linked newsroom edition",
      "responses": {"200": {"$ref": "#/components/responses/NewsroomFeed"}}
    }},
    "/datapackage.json": {"get": {
      "operationId": "getEvidenceDataPackage",
      "summary": "Discover currently available files as a Frictionless-style data package",
      "responses": {"200": {"description": "Data package", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}}
    }},
    "/readings/board-alarm-latest.json": {"get": {
      "operationId": "getCensorshipBoardAlarm",
      "summary": "Read the cross-signal board verdict and multiplicity-aware alarm state",
      "responses": {"200": {"$ref": "#/components/responses/Reading"}}
    }},
    "/readings/coverage-guard-latest.json": {"get": {
      "operationId": "getCoverageGuard",
      "summary": "Read measurement coverage failures and confounds",
      "responses": {"200": {"$ref": "#/components/responses/Reading"}}
    }},
    "/readings/erasure-observatory-latest.json": {"get": {
      "operationId": "getErasureObservatory",
      "summary": "Read the composite erasure observatory state",
      "responses": {"200": {"$ref": "#/components/responses/Reading"}}
    }},
    "/readings/eval-registry-latest.json": {"get": {
      "operationId": "getVerifiableEvalRegistry",
      "summary": "Read the latest verified evaluation-registry head and Merkle root",
      "responses": {"200": {"$ref": "#/components/responses/Reading"}}
    }},
    "/readings/refusal-drift-latest.json": {"get": {
      "operationId": "getRefusalDrift",
      "summary": "Read the latest frontier-model refusal-drift evaluation",
      "responses": {"200": {"$ref": "#/components/responses/Reading"}}
    }},
    "/readings/ooni-gfw-latest.json": {"get": {
      "operationId": "getGreatFirewallReading",
      "summary": "Read outside-in Great Firewall reachability measurements",
      "responses": {"200": {"$ref": "#/components/responses/Reading"}}
    }},
    "/readings/inside-view-latest.json": {"get": {
      "operationId": "getInsideView",
      "summary": "Read DNS-injection measurements from mainland-China probes",
      "responses": {"200": {"$ref": "#/components/responses/Reading"}}
    }},
    "/readings/latest.json": {"get": {
      "operationId": "getDeletionAsDataReading",
      "summary": "Read the latest deletion-as-data censorship ranking",
      "responses": {"200": {"$ref": "#/components/responses/Reading"}}
    }}
  }
}
